{% extends "base.html" %}







{% block content %}

{% if islogged %}
<form class="fill-form" action="#" method="POST">
    <h1>Welcome aboard, {{username}}.</h1>
    <h2>Add your new quotes here. inspire other people.</h2>
    <h3>{{message}}</h3>
    <div> <label>quote</label><input type="text" name="quote"></div>
    <div>
        <select name="boards" multiple>
            {% for board in boards %}
            <option value="{{board.id}}">{{board.title}}</option>

            {% endfor %}
              </select>

    </div>
    
    <div> <input type="submit" id="submitbutton"  value="Add new quote" ></div>
</form>


{% else %}

<h1>Error.</h1>
<h2>You are not logged in. in order to add quotes, you have to log in</h2>

{% endif %}

{% endblock %}

