{% extends "base.html" %}










{% block content %}
    <img src="https://i.ibb.co/QcPB70P/myboard-logo.png" alt="myboard-logo" border="0" />
    <h1>Welcome to MyBoard.</h1>
    <h2>This is your place to share you thoughts and inspire other people with your words.</h2>
    <p>feel free to either log in or register to our website and start creating content.<br> you can place your quotes inside designated boards, each mady for different subject.
        if you can't find a board that fits your board quite right, you can also create a new board. you can add as many quote as you want to your board,
        and you can pin your quotes to as many board you want. <br>
        we hope you will enjoy this website! <br></p>
    <p>
        this website was created for a python course task.<br>it was made to practice working with db using peewee, flask and postgresql.
    </p>
    
{% endblock %}

