{% extends "base.html" %}


{% block heading %} {% endblock %}




{% block content %}


{% if islogged %}

    {% if display=='user'%}
        <div class="quote-boards">
        {% for q in quotes %}
        <div class="quote">
            <h2 style="text-align: center;">"{{q.description}}"</h2>
            <p style="text-align: center;"> author: you</p>
            <div> 
                <p style="text-align: center;">
                {% if q.title != ''%}
                boards: {{q.title}}
                {% else %}
                not connected to any board. Add a new board now and pin this quote!
                {% endif %}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    {% elif display == 'board'%}

        <select name="boards" class="multiple-choice" multiple>
        {% for board in boards %}
        <option value="{{board.id}}">{{board.title}} </option>
        
        {% endfor %}
          </select>

        <div class="quote-boards">
        {% for q in quotes %}
            <div class="quote">
                <h2 style="text-align: center;">"{{q.description}}"</h2>
                <p style="text-align: center;"> author: {{q.username}}</p>

            </div>
        {% endfor %}
            </div>
    {% endif %}

{% else %}
    <h1>Error.</h1>
    <h2>You are not logged in. in order to view your quotes, you have to log in</h2>

{% endif %}


{% endblock %}
