{% extends "base.html" %}







{% block heading %}
<link rel="stylesheet" href="../styles/newstyle.css" type="text/css"/>
 {% endblock %}



{% block content %}
<img src="https://i.ibb.co/QcPB70P/myboard-logo.png" alt="myboard-logo" border="0" />
<form class="fill-form" action="#" method="POST">
    <h1>Welcome to this website.</h1>
    <h2>Register to join our small community.</h2>
    
<div> <label>Name</label><input type="text" name="username" maxlength="30"></div>
    <div> <label>Password</label><input type="password" name="password" maxlength="25"></div>
    <div> <label>confirm password</label><input type="password" name="confirm-password" maxlength="25"></div>

    <div> <input type="submit" id="submitbutton"  value="Register to website" ></div>
</form>
<h3 style="color: brown;">{{message}}</h3>
{% endblock %}

