
html,body{
    height: 100%;
}

.main-body{
    max-width: 70%;
    display: block;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    background-color: #fcf8ec;
    box-sizing: border-box;
    min-height: 100%;
    padding:5em 3em 10em 3em;
    border-left: 2em solid #d0e8f2;
    border-right: 2em solid #d0e8f2;
}

body{
    background-color: #79a3b1;
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif;
}

input[type="text"],input[type="password"]{
    margin: 0.5em 1em 0.5em 1em;
    background-color: rgb(255, 255, 253);
    border-width: 0px;
    border-radius: 0.5em;
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    margin:0.5em;
    padding: 0.2em 0.6em 0.2em 0.6em;
    border-radius: 0.5em;
    border-width: 0em;
    background-color: #456268;
    color:#d0e8f2 ;
}


input[type="submit"]:hover{
    color: white;
    transition: width .8s ease-in-out;
}

.fill-form{
    display: block;
    min-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: #456268;
    font-weight:700;

}


h1{
    color: #283f44;
    font-weight:800;

}

form > * {
    margin-left: auto;
    margin-right: auto;
}

.quote-boards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.quote{
    background-color: #79a3b1;
    color: #fcf8ec;
    border-radius: 1em;
    padding: 1em 2em 1em 2em;
    margin:1em;
}

.multiple-choice, .multiple-choice:active{
    padding:0.2em;
    border-radius: 0.5em;
    border-width: 0em;
    max-width: 70%;
}

image[alt="myboard-logo"]{
    max-width: 90%;
}


select :nth-child(even){
    background-color: #fcf8ec;
}


.myDropDown
{
   height: 50px;
   overflow: auto;
}

.single-board{
    background-color: #d0e8f2;
    color:#283f44;
    border-radius: 0.2em;
    padding:0.4em;
    margin:0.5em;
}

.board-tags-div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


